{% extends "base.html" %}
{% block title %}Home · RoomReserve{% endblock %}
{% block content %}
<section class="text-center py-16">
    <h1 class="text-4xl font-extrabold text-slate-900">Welcome to RoomReserve</h1>
    <p class="mt-4 text-lg text-slate-600">
        Book meeting rooms anytime, anywhere — quick, simple, and efficient.
    </p>
    <div class="mt-8 flex justify-center gap-4">
        <a href="{% url 'room_list' %}" class="px-6 py-3 rounded-lg bg-slate-900 text-white hover:opacity-90">Browse
            Rooms</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'register' %}"
            class="px-6 py-3 rounded-lg bg-slate-100 text-slate-900 border hover:bg-slate-200">Get Started</a>
        {% endif %}
        {% if user.is_staff %}   {# ✅ แสดงปุ่มเฉพาะ admin #}
        <a href="{% url 'room_report' %}" 
            class="px-6 py-3 rounded-lg bg-indigo-600 text-white hover:bg-indigo-500">Admin Room Report</a>
    {% endif %}
     
    </div>
</section>

<section class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">
    <div class="p-6 bg-white rounded-xl shadow text-center">
        <h2 class="text-xl font-semibold mb-2">Easy Booking</h2>
        <p class="text-slate-600 text-sm">Book anywhere anytime.</p>
    </div>
    <div class="p-6 bg-white rounded-xl shadow text-center">
        <h2 class="text-xl font-semibold mb-2">Easy Track</h2>
        <p class="text-slate-600 text-sm">Track yor reservation.</p>
    </div>
    <div class="p-6 bg-white rounded-xl shadow text-center">
        <h2 class="text-xl font-semibold mb-2">Easy Cancel</h2>
        <p class="text-slate-600 text-sm">Can cancel anytime</p>
    </div>
</section>
<footer class="mt-16 py-6 text-center text-sm text-slate-500">
    <p>
        &copy; 2025 RoomReserve · 
        <a href="{% url 'aboutme' %}" class="underline hover:text-slate-700">
            About Us
        </a>
    </p>
</footer>
{% endblock %}